.App {
  text-align: center;
}
/* .e-grid .e-gridheader {
  border:2px solid green
} */
.e-grid .e-headercell {
  color: rgb(65, 2, 2);
}
.e-grid{

}
.e-grid .e-table {
 
  background-color: #ffffff;
  
}
.e-grid.e-default .e-headercell
{
  border: 1px solid rgb(225, 225, 225);
}
.e-grid .e-filterbarcell
{
  border: 1px solid rgb(214, 239, 219);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.e-grid .e-rowcell
     {
      
  border: 0.1px solid rgb(213, 210, 210);
}
.e-grid td.e-selectionbackground {
  background-color: #f0ebfe;
}
.e-grid .e-toolbar .e-btn {
  background-color: #e4def9;
}
.e-grid.e-gridhover tr.e-row:hover .e-rowcell:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell){ 
  background-color: rgb(254, 242, 237) !important; 
} 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";